Presentations/*.pptx filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Abidjan_2023_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Antananarivo_2016_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Lusaka_2016_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Mumbai_2023_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Mexico[[:space:]]City_2023_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Antananarivo_2023_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Mumbai_2016_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Abidjan_2016_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Lusaka_2023_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data_confidence/Mexico[[:space:]]City_2016_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Dar[[:space:]]es[[:space:]]Salaam_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Asuncion_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bogota_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Lilongwe_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Denpasar_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Phnom[[:space:]]Penh_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Algiers_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Rio[[:space:]]de[[:space:]]Janeiro_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Rio[[:space:]]de[[:space:]]Janeiro_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Hanoi_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kuala[[:space:]]Lumpur_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Hanoi_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bobo-Dioulasso_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Nairobi_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bangkok_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Monrovia_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Cali_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Palembang_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Salvador_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Manila_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Harare_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Aba_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Dhaka_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Karachi_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Brasilia_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Lagos_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Libreville_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Lima_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Belo[[:space:]]Horizonte_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Medellin_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Ibadan_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bandar[[:space:]]Lampung_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Brazzaville_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Delhi_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Cali_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Chennai_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kampala_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Yaounde_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Jakarta_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Makassar_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kumasi_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kisumu_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Pune_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Johannesburg_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Semarang_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Lilongwe_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Accra_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Belo[[:space:]]Horizonte_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Conakry_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kisumu_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Monterrey_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Dakar_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Windhoek_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Managua_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Harare_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Batam_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Hyderabad_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Merida_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Abuja_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Alexandria_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Guatemala[[:space:]]City_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Antananarivo_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Oran_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Queretaro_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Abidjan_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Guadalajara_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Dar[[:space:]]es[[:space:]]Salaam_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bangalore_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/San[[:space:]]Jose_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Freetown_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/La[[:space:]]Paz_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Puebla_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Port-au-Prince_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Sao[[:space:]]Paulo_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Quito_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Managua_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Onitsha_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kano_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kampala_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Medan_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/San[[:space:]]Salvador_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kathmandu_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Karachi_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Asuncion_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bangui_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Leon_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Cancun_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Maputo_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Nouakchott_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Phnom[[:space:]]Penh_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Mexico[[:space:]]City_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Surat_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Abuja_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kuala[[:space:]]Lumpur_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bangkok_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Cairo_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Quito_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Lagos_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Johannesburg_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Mumbai_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Mexico[[:space:]]City_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kolkata_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bobo-Dioulasso_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bandung_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Chennai_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Davao_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Acapulco_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Ho[[:space:]]Chi[[:space:]]Minh[[:space:]]City_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kinshasa_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Yaounde_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Niamey_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Oran_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Cape[[:space:]]Town_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Lusaka_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kigali_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Aba_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Mombasa_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Santo[[:space:]]Domingo_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bujumbura_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Port-au-Prince_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Antananarivo_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Monterrey_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Cancun_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Hyderabad_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Leon_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Jakarta_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Constantine_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Batam_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/La[[:space:]]Paz_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Puebla_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Surabaya_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Cairo_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bujumbura_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Surat_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Ahmedabad_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Luanda_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Windhoek_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Salvador_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Alexandria_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Accra_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Buenos[[:space:]]Aires_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bogota_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Guayaquil_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Cape[[:space:]]Town_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/San[[:space:]]Jose_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Santo[[:space:]]Domingo_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Surabaya_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Dakar_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Denpasar_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Queretaro_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bandung_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Ahmedabad_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Ouagadougou_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Guayaquil_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bangalore_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Brasilia_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Addis[[:space:]]Ababa_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Conakry_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kinshasa_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Luanda_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Mombasa_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Constantine_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Lusaka_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Palembang_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Jaipur_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bandar[[:space:]]Lampung_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Pune_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Manila_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Dhaka_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Delhi_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Mumbai_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Medan_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Lima_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Brazzaville_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Addis[[:space:]]Ababa_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Onitsha_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Merida_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Makassar_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Nouakchott_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Algiers_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Tegucigalpa_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kigali_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kumasi_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Buenos[[:space:]]Aires_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Guatemala[[:space:]]City_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Nairobi_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Niamey_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Abidjan_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Sao[[:space:]]Paulo_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Libreville_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Ho[[:space:]]Chi[[:space:]]Minh[[:space:]]City_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Monrovia_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/San[[:space:]]Salvador_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Ibadan_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Davao_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Jaipur_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kathmandu_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Freetown_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kano_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Acapulco_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Medellin_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Semarang_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Maputo_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Tegucigalpa_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Bangui_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Ouagadougou_2023_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Kolkata_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
aggregated_data/Guadalajara_2016_3x3_windows.csv filter=lfs diff=lfs merge=lfs -text
Presentations/Tuesday[[:space:]]Talk_11.18.pptx filter=lfs diff=lfs merge=lfs -text
images/Manila_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Sao[[:space:]]Paulo_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Ho[[:space:]]Chi[[:space:]]Minh[[:space:]]City_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Mexico[[:space:]]City_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Bandung_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Monterrey_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Kampala_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Johannesburg_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Buenos[[:space:]]Aires_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Belo[[:space:]]Horizonte_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Monterrey_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Cairo_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Sao[[:space:]]Paulo_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Lagos_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Bangkok_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Ibadan_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Delhi_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Lima_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Bangkok_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Jakarta_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Kolkata_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Bandung_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Dhaka_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Kolkata_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Dhaka_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Lagos_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Dar[[:space:]]es[[:space:]]Salaam_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Hanoi_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Lima_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Kinshasa_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Mexico[[:space:]]City_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Accra_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Nairobi_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Manila_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Hyderabad_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Kuala[[:space:]]Lumpur_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Ho[[:space:]]Chi[[:space:]]Minh[[:space:]]City_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Jakarta_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Kumasi_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Bangalore_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Buenos[[:space:]]Aires_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Johannesburg_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Hanoi_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Guadalajara_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Cairo_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Belo[[:space:]]Horizonte_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Guadalajara_2023.tif filter=lfs diff=lfs merge=lfs -text
images/Delhi_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Kuala[[:space:]]Lumpur_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Accra_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Hyderabad_2016.tif filter=lfs diff=lfs merge=lfs -text
images/Bangalore_2023.tif filter=lfs diff=lfs merge=lfs -text
pixel_data/Yaounde_2016_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
pixel_data/Yaounde_2023_all_pixels_confidence.csv filter=lfs diff=lfs merge=lfs -text
1[[:space:]]OLD[[:space:]]VERSION/1density[[:space:]]&[[:space:]]alpha[[:space:]](Apr)/Antananarivo_2023_pixel_data.csv filter=lfs diff=lfs merge=lfs -text
1[[:space:]]OLD[[:space:]]VERSION/1density[[:space:]]&[[:space:]]alpha[[:space:]](Apr)/.ipynb_checkpoints/Antananarivo_2016_pixel_data-checkpoint.csv filter=lfs diff=lfs merge=lfs -text
1[[:space:]]OLD[[:space:]]VERSION/1density[[:space:]]&[[:space:]]alpha[[:space:]](Apr)/.ipynb_checkpoints/Antananarivo_2023_pixel_data-checkpoint.csv filter=lfs diff=lfs merge=lfs -text
1[[:space:]]OLD[[:space:]]VERSION/1density[[:space:]]&[[:space:]]alpha[[:space:]](Apr)/density_maps/Abidjan_2016_kde.pkl filter=lfs diff=lfs merge=lfs -text
1[[:space:]]OLD[[:space:]]VERSION/1density[[:space:]]&[[:space:]]alpha[[:space:]](Apr)/Abidjan_2016_pixel_data.csv filter=lfs diff=lfs merge=lfs -text
1[[:space:]]OLD[[:space:]]VERSION/1density[[:space:]]&[[:space:]]alpha[[:space:]](Apr)/Antananarivo_2016_pixel_data.csv filter=lfs diff=lfs merge=lfs -text
1[[:space:]]OLD[[:space:]]VERSION/1density[[:space:]]&[[:space:]]alpha[[:space:]](Apr)/Abidjan_2023_pixel_data.csv filter=lfs diff=lfs merge=lfs -text
Presentations/* filter=lfs diff=lfs merge=lfs -text
notebooks/* filter=lfs diff=lfs merge=lfs -text
data[[:space:]]samples/* filter=lfs diff=lfs merge=lfs -text
